.Login>*.box {
    background-color: transparent;
    width: 500px;
    align-items: center;
    margin-left: 35%;
    opacity: 0.9;
   
    /* margin-right: 0px !important; */
}

.css-1mo74lh {
    align-items: center
}