
.HomeArea >*.box{
    background-color:transparent ; 
margin-top: 200px;
width: 500px;
margin-right: 0px  !important;
}
.css-1mo74lh{
    align-items: center
//uiuyiukuy
}
body{
    background-image: url('../../../Assets/Images/bus.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
